<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        Credit Card Balance: <input type="text" value="{{credit_card.amount}}"> <br> <br>
        Enter your amount to withdraw : <input type="text" name="amount" placeholder="0.00"> <br> <br>
        <input type="submit" value="Withdraw">
    </form>
</body>
</html>