
</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div align="center">
        <form action="">
            <img src="" alt="">
            <p style="font-size: 30px;">
                Request 
                {{transaction.transaction_id }} is sent successfully to  {{ request.user }}</p>
            <button type="submit">Dashboard</button>
        </form>
    </div>

</body>
</html>