<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div align="center">
        <form action="#">
            <h1>Made a Payment</h1>
            <img src="" alt="">
            <p style="font-size: 30px;">
               <b>{{ request.user }}</b> ,Payment of {{transaction.amount }} amount is sent successfully. 
            </p>
            <button type="submit">Dashboard</button>
        </form>
    </div>

</body>
</html>